<%= render :partial => "slider" %>

<h2>Galeria </h2>
<div class="clearspace"></div>

<div class="gallery-holder">
  <% @galleries.each do |gallery| %>
  <div class="gallery-display">
    	<%= link_to( image_tag(gallery.photos.last.photo.small.url), station_gallery_show_url(gallery) ) %><br>
      <p class="gallery-title"><%= link_to( gallery.name, station_gallery_show_url(gallery) ) %></p>
  </div>   
    
  <% end %>
</div>


<div class="clearspace"></div>
