<div id="slider" class="nivoSlider">
  <%= image_tag 'demo11.png', :alt => "", :title => "Stadnina - Lorem Ipsum dolor etsc" %>
  <%= image_tag 'demo12.png', :alt => "", :title => "Stadnina - Lorem Ipsum dolor etsc" %>
  <%= image_tag 'demo1.png', :alt => "", :title => "Stadnina - Lorem Ipsum dolor etsc" %>
</div>
<h2>Witamy w A-prim</h2>
<div class="clearspace"></div>
<div class="junction">
  <a href="/a-prim/stajnia.html" class="triple farm">Stadnina</a>
  <a href="/a-prim/stacja" class="triple gas">Stacja</a>
  <a href="/a-prim/pensjonat.html" class="triple home"> Pensjonat</a>
</div>
<div class="clearspace"></div>
