<div id="slider" class="nivoSlider">
  <%= image_tag 'station/slide5.jpg', :alt => "" %>
  <%= image_tag 'pension/slide3.jpg', :alt => "" %>
  <%= image_tag 'pension/slide1.jpg', :alt => "" %>
</div>
<h2>Witamy w A-prim</h2>
<p>Serdecznie Zapraszamy do nowo otwartego Pensjonatu Agroturystycznego A-Prim, który położony
jest na terenie pięknego Ośrodka Jeździeckiego w malowniczej miejscowości Grojec oddalonej o
jedyne 5 km od miasta Oświęcim.</p>
<div class="clearspace"></div>
<div class="junction">
  <a href="/a-prim/stajnia.html" class="triple farm">Stadnina</a>
  
  <a href="/a-prim/pensjonat.html" class="triple home"> Pensjonat</a>
  
  <a href="/a-prim/stacja" class="triple gas">Stacja</a>
</div>
<div class="clearspace"></div>
