<%= render :partial => "slider" %>

<h2>Galeria </h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique dui tincidunt tellus vehicula vel gravida ligula elementum. Praesent molestie leo sed purus ultrices mattis. Nullam mollis, risus vitae dapibus rhoncus.</p>

<div>
  <% @galleries.each do |gallery| %>
    <span style="text-align:center;">
      <%= link_to( gallery.name, pension_gallery_show_url(gallery) ) %><br>
      <%= link_to( image_tag(gallery.photos.last.photo.small.url), pension_gallery_show_url(gallery) ) %>
    </span>
  <% end %>
</div>

<p>magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu lacus libero, a scelerisque risus. Sed vehicula leo in ante hendrerit ut fermentum diam condimentum. Nunc sed sapien lorem.</p>

<div class="clearspace"></div>
