<%= render :partial => "slider" %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique dui tincidunt tellus vehicula vel gravida ligula elementum. Praesent molestie leo sed purus ultrices mattis. Nullam mollis, risus vitae dapibus rhoncus, velit risus pretium nunc, non fermentum ante diam vitae magna. Proin urna risus, mattis a gravida et,</p>

<h2>Cennik </h2>

<table width="100%">
  <tr>
    <th width="80%">Usługa</th>
    <th width="20%">Cena</th>
  </tr>
  <% @prices.each do |price| %>
    <tr>
      <td><%= price.description %></td>
      <td><%= price.value %></td>
    </tr>
  <% end %>
</table>

<div class="clearspace"></div>
