<%= render :partial => "slider" %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique dui tincidunt tellus vehicula vel gravida ligula elementum. Praesent molestie leo sed purus ultrices mattis. Nullam mollis, risus vitae dapibus rhoncus, velit risus pretium nunc, non fermentum ante diam vitae magna. Proin urna risus, mattis a gravida et,</p>

<h2>Cennik </h2>

<table width="100%">
  <tr>
    <th width="60%">Rodzaj</th>
    <th width="20%">2 osobowe</th>
    <th width="20%">3 osobowe</th>
  </tr>
  <tr>
    <td>Pokój nr1</td>
    <td>200zł</td>
    <td>300zł</td>
  </tr>
  <tr>
    <td>Pokój nr2</td>
    <td>400zł</td>
    <td>500zł</td>
  </tr>
  <tr>
    <td>Pokój nr3</td>
    <td>600zł</td>
    <td>700zł</td>
  </tr>
</table>
<div class="clearspace"></div>
