<%= render :partial => "slider" %>
<h2>Cennik </h2>
<p>Pokoje wynajmowane są na doby.
Doba noclegowa trwa od 14 00 do 11 00.<br>
*Podana cena jest ceną za pokój ze śniadaniem w formie bufetu.<br><br>
Istnieje możliwość bezpłatnego wypożyczenia łóżeczka dziecięcego.<br>
Nie pobieramy opłat za parking dla Naszych Gości. 
</p>
<table width="100%">
  <tr>
    <th width="80%">Usługa</th>
    <th width="20%">Cena</th>
  </tr>
  <% @prices.each do |price| %>
    <tr>
      <td><%= price.description %></td>
      <td><%= price.value %></td>
    </tr>
  <% end %>
</table>

<div class="clearspace"></div>
