<%= render :partial => "slider" %>
<h2>Cennik </h2>

<table width="100%">
  <tr>
    <th width="80%">Usługa</th>
    <th width="20%">Cena</th>
  </tr>
  <% @prices.each do |price| %>
    <tr>
      <td><%= price.description %></td>
      <td><%= price.value %></td>
    </tr>
  <% end %>
</table>

<div class="clearspace"></div>
