body {
	font-size:12px;
	padding: 0;
	margin: 0;
	background: #f3eddb url(/assets/bg.png);
	font-family: Verdana, Geneva, sans-serif;
}
a {text-decoration: none;color: #e8500b;}
a:hover {color: #c12900;}
h2, h2 a {font-family: 'Parisienne', cursive, arial;
	font-weight: 400;
	color: #e8500b;
	font-size: 32px;
	margin: 5px;
}
h2 a:hover {
	color: #c12900;
}
header {
	display: block;
	color: #fff;
	line-height: 100px;
	height: 103px;
	background: #4f1209 url(/assets/header.png) repeat-x;
}
header div {
	width: 875px;
	margin: 0 auto;
}
footer {
	height: 35px;
	width: 875px;
	margin: 0 auto;
	border-top: 1px solid #b0a192;
	padding: 15px 0;
	color: #8d7f71;
}
footer a {color: #8d7f71;}
footer a:hover {color: #230d0d;}
footer span {
	float: right;
	width: 400px;
	text-align: right;
}
nav {
	text-align:center;
	line-height: 46px;
	height: 46px;
	border-color: #000;
	border-style: solid;
	border-width: 1px 0px;
	background: #281010 url(/assets/nav-bar.png) repeat-x;
}
nav a {
	color: #f3eddb; 
	margin: 0px 32px;
	display: inline-block;
}
.clearspace {
	height: 50px;
	clear: both;
}
.description {
	position: absolute;
	width: 327px;
	height: 86px;
	background: url(/assets/nivo-cover.png) no-repeat;
	z-index: 100;
	bottom: 43px;
	left: 1px;
	line-height: 100px;
	font-size: 25px;
	padding: 0 0 0 42px;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.main-book-outer {
	width: 876px;
	margin: 0 auto;
	border: 1px solid #190802;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.main-book {
	padding: 10px 16px;
	background:url(/assets/book-bg.png);
	width: 842px;
	margin: 0 auto;
	border: 1px solid #643d3e;
	min-height: 200px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.main-page {
	position: relative;
	min-height: 180px;
	display:block;
	background: #fffaf0;
	border: 1px solid #a8a49e;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px 20px;
	margin-top: -1px;
	z-index: 30;
	margin-right: -2px;

}
.main-page p {
	font-size: 11px;
	color: #1b1b1b;
	line-height: 17px;
}
.page1, .page2 {
	background: #fffaf0;
	margin:0 auto;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color:  #a8a49e;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0 0 0 2px;
	display:block;
	margin-top: -1px;
}
.mini-nav {
	position:relative;
	margin: 18px 0px 1px 0px;
	border-bottom: 1px solid #c1b6af;
}
.mini-nav ul {
	text-align:center;
	list-style:none;
	
}
.mini-nav li {display: inline;}
.mini-nav li a {
	display: inline-block;
	margin: 0 20px;
	color: #1b1b1b;
}
.mini-nav li a:hover {color: #e8500b;}
.mini-nav-shadow {
	background: url(/assets/mini-nav-shadow.png) top center no-repeat;
	width: 785px;
	height: 35px;
}
table th{
	color: #331617;
	background: #f2e4c8;
	text-align:left;
	padding: 8px 6px;
}
table td {

	padding: 8px 6px;
}
table tr {background:#fdefd2; color: #331617;}
table tr:nth-child(odd){
	background: #fff5e0;
}
.gmap {
	position: relative;
	margin: 10px 0px;
	border: 1px solid #220d0d;
	width:796px;
	height: 306px;
	display:block;
}
.selected {
        font-weight: bold;
}
.map-overlay {
	z-index: 99;
	position: absolute;
	top: 92px;
	right: 275px;
	padding: 10px;
	background: white;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.news-image {
    float: left;
}
.news-image img {
    width: 100px;
    height: 100px;
    margin-bottom: 4px;
    margin-right: 15px;
		padding: 1px;
		border: 1px solid #b7b0a5;
}
.akt-text {
	line-height: 18px;
	color: #4c4a44;
	padding-right: 20px;
}
.date-ribbon {
	margin-top: 7px;
	text-align: center;
	padding: 3px 2px 0px 5px;
	background: url(/assets/date-ribbon.png) no-repeat;
	width: 73px;
	height: 40px;
	text-shadow: 1px 1px 1px #BA683D;
	position: absolute;
	color: 	white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	left: -77px;
}
.date-ribbon span {font-size: 21px; line-height: 21px;}
.more-link {
	margin-top: 10px;
}
.news-sep {
font-size: 10px;
padding: 10px 15px 0 0;
color: #8A8883;
text-align: right;
background: url(/assets/news-sep.png) center center no-repeat;
}
.junction {
	text-align: center;
}
.triple {
padding: 80px 0 10px 0;
width: 242px;
display: inline-block;
margin: 0 10px;
}
.gas { background:url(/assets/stacja.png) center top no-repeat;}
.farm { background:url(/assets/stajnia.png) center top no-repeat;}
.home { background:url(/assets/domek.png) center top no-repeat;}
